.grow-favourites-porltet {
	background-color: #F1F2F5;
	
	.my-favourites {
		font-weight: 700;
		line-height: 2.6rem;
	}
	
	.loading-indicator {
		background-color: transparent;
		transform: translate(-50%, -50%);
		position: absolute;
		left: 50%;
		top: 48%;
		z-index: 5;
	}

}

