.grow-favourite-card {
	border-bottom: 6px solid white;
	.card-learn {
		border-bottom: 6px solid white;
		border-bottom-width: 10px !important;
	}

	.card-excellence {
		border-bottom: 6px solid white;
		border-bottom-width: 10px !important;
	}

	.card-share {
		border-bottom: 6px solid white;
		border-bottom-width: 10px;
	}

	.card-people {
		border-bottom: 6px solid white;
		border-bottom-width: 10px;
	}
	.grow-icon {
		padding: 0.4375rem 0.4375rem;
		font-weight: 600;
		font-size: 14px;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
	}
	.card-body {
		padding-bottom: 0rem;
	}
	button {
		padding: 0.4375rem 0.4375rem;
	}
	.grow-favourite-card-section {
		min-height: 4rem;
		a {
			color: #09101D;
		}
	}
	.grow-favourite-card-author{
		max-width: 9.25rem;
	}

	.icon-excellence {
		fill: #fa8072;
	}

	.icon-people {
		fill: #7fffff;
	}

	.icon-share {
		fill: #66b2ff;
	}

	.icon-learn {
		fill: #8c66b2;
	}

	.card-learn:hover {
		border-color: #8c66b2;
	}

	.card-excellence:hover {
		border-color: #fa8072;
	}

	.card-share:hover {
		border-color: #66b2ff;
	}

	.card-people:hover {
		border-color: #7fffff;
	}
	.break {
		line-height: 1.125rem;
	}
	.icon-align {
		vertical-align: -webkit-baseline-middle;
	}
	.button-align {
		vertical-align: sub;
	}
	.grow-title {
		font-size: 18px;
		font-weight: 500;
	}
}
