.grow-favourite-card {
	.icon-excellence {
		fill: #fa8072;
	}

	.icon-people {
		fill: #7fffff;
	}

	.icon-share {
		fill: #66b2ff;
	}

	.icon-learn {
		fill: #8c66b2;
	}

	.card-learn {
		border-bottom: 6px solid white;
	}

	.card-excellence {
		border-bottom: 6px solid white;
	}

	.card-share {
		border-bottom: 6px solid white;
	}

	.card-people {
		border-bottom: 6px solid white;
	}

	.break {
		line-height: 1.5;
	}
}