.grow-favourites-carousel {
	padding: 3rem 3rem 0 3rem;
	min-width: 55rem;
	.grow-favourites-carousel-button-back {
		position: absolute;
		top: 16rem;
		left: 1rem;
		z-index: 1;
		border-color: transparent;
		background-color: transparent;
		font-size: 1.2rem;
		color: #272833;
	}

	.grow-favourites-carousel-button-next {
		position: absolute;
		top: 16rem;
		right: 1rem;
		z-index: 1;
		border-color: transparent;
		background-color: transparent;
		font-size: 1.2rem;
		color: #272833;
	}
	
	.grow-favourites-slide {
		font-size: inherit;
	}
}
.grow-favourites-slider {
	height: 36rem;
}