.grow-favourite-card {
	min-width: 21rem;

	.grow-icon {
		padding: 0.4375rem 0.4375rem;
		font-weight: 600;
		font-size: 1rem;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
	}
	.card-body {
		padding-bottom: 0rem;
	}
	button {
		padding: 0.4375rem 0.4375rem;
	}
	.grow-favourite-card-section {
		min-height: 4rem;
		a {
			color: #09101D;
		}
	}
	.grow-favourite-card-author{
		font-size: 1.125rem;
		max-width: 9.25rem;
	}

	.icon-excellence {
		fill: #fa8072;
	}

	.icon-people {
		fill: #7fffff;
	}

	.icon-share {
		fill: #66b2ff;
	}

	.icon-learn {
		fill: #8c66b2;
	}

	.card-learn {
		border-bottom: 6px solid white;
	}

	.card-excellence {
		border-bottom: 6px solid white;
	}

	.card-share {
		border-bottom: 6px solid white;
	}

	.card-people {
		border-bottom: 6px solid white;
	}

	.card-learn:hover {
		border-bottom: 6px solid #8c66b2;
	}

	.card-excellence:hover {
		border-bottom: 6px solid #fa8072;
	}

	.card-share:hover {
		border-bottom: 6px solid #66b2ff;
	}

	.card-people:hover {
		border-bottom: 6px solid #7fffff;
	}
	.break {
		line-height: 1.125rem;
	}
}